*{
    margin:0;
    padding:0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-sizing:border-box;
}
.hero{
    width:100%;
    min-height:100vh;
    background:linear-gradient(135deg,pink,white);
    color:black;
    position:relative;
}
.container{
    width:800px;
    height:180px;
    position:absolute;
    top:50%;
    left:50%;
    transform : translate(-50%,-50%);
    background:linear-gradient(135deg,white,pink);
   
}
.clock{
    width:100%;
    height:100%;
    color:grey;
    border-radius:10px;
    display:flex;
    align-items: center;
justify-content: center;
}
.clock span{
    font-size:80px;
    width:110px;
    display:inline-block;
    text-align:center;
    position:relative;
}
.clock span::after{
   
    font-size: 16px;
    position:absolute;
    bottom:-5px;
    left:50%;
    transform:translate(-50%);
}
#hrs::after{
    content:"HOURS";
}
#min::after{
    content:"MINS";
}
#sec::after{
    content:"SEC";
}